
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link href="../js/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../js/bootstrap/js/popper.min.js" rel="stylesheet"/>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>

<div class="wrap">
    <div class="container">
        <div
                style="display: flex; align-items: center; gap: 15px; background: url('/images/bg-headtop.png') no-repeat center/cover; padding: 20px; border-radius: 8px;">
            <a href="<%=request.getContextPath()%>/Trangchu"> <img
                    src="/WebShop/style/assets/images/logoShop/logo5-vi.png"
                    alt="TRUNG TÂM NHIỆT ĐỚI VIỆT - NGA" style="height: 60px;">
            </a>
            <h2 class="main-title"
                style="font-size: 24px; font-weight: bold; color: white; text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); margin: 0;">
                Quản lý loài chim Vườn quốc gia Bái Tử Long</h2>
        </div>


        <div class="main-content">
            <div class="wrap-table-extra">
                <form class="wrap-search" method="get">
                    <div class="wrap-search-inner">
                        <div class="input-search">
                            <input name="search" type="text"/>
                        </div>
                        <button>Search</button>
                    </div>
                </form>
                <form method="post">
                    <button class="btn-add" data-bs-toggle="modal"
                            data-bs-target="#modalAdd" type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                             width="16px" height="16px" style="fill: #fff">
                            <path fill-rule="evenodd"
                                  d="M 11 2 L 11 11 L 2 11 L 2 13 L 11 13 L 11 22 L 13 22 L 13 13 L 22 13 L 22 11 L 13 11 L 13 2 Z"/>
                        </svg>
                        <span>Thêm mới</span>
                    </button>
                </form>
            </div>
            <div class="wrap-inner-table">
                <table>
                    <thead>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Species</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Actions</th>
                    </thead>
                    <tbody>
                    <tr th:each="bird : ${birds}">
                        <td th:text="${bird.id}"></td>
                        <td style="max-width: 200px" th:text="${bird.name}"></td>
                        <td th:text="${bird.description}"></td>
                        <td th:text="${bird.species}"></td>
                        <td><img th:if="${bird.imageUrl}" th:src="@{'/birds/images/' + ${bird.imageUrl}}" width="80"
                                 height="80"></td>
                        <td>
                            <div class="wrap-btn">
                                <button type="button" class="btn-table btn-success--custom"
                                        data-bs-toggle="modal" data-bs-target="#modalEdit"
                                        th:onclick="|openDeleteModal('${bird.id}')|">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26"
                                         width="15px" height="15px">
                                        <path
                                                d="M 20.09375 0.25 C 19.5 0.246094 18.917969 0.457031 18.46875 0.90625 L 17.46875 1.9375 L 24.0625 8.5625 L 25.0625 7.53125 C 25.964844 6.628906 25.972656 5.164063 25.0625 4.25 L 21.75 0.9375 C 21.292969 0.480469 20.6875 0.253906 20.09375 0.25 Z M 16.34375 2.84375 L 14.78125 4.34375 L 21.65625 11.21875 L 23.25 9.75 Z M 13.78125 5.4375 L 2.96875 16.15625 C 2.71875 16.285156 2.539063 16.511719 2.46875 16.78125 L 0.15625 24.625 C 0.0507813 24.96875 0.144531 25.347656 0.398438 25.601563 C 0.652344 25.855469 1.03125 25.949219 1.375 25.84375 L 9.21875 23.53125 C 9.582031 23.476563 9.882813 23.222656 10 22.875 L 20.65625 12.3125 L 19.1875 10.84375 L 8.25 21.8125 L 3.84375 23.09375 L 2.90625 22.15625 L 4.25 17.5625 L 15.09375 6.75 Z M 16.15625 7.84375 L 5.1875 18.84375 L 6.78125 19.1875 L 7 20.65625 L 18 9.6875 Z"/>
                                    </svg>
                                </button>

                                <input id="pId" style="display: none" name="id"
                                       value="<%=product.getId()%>">

                                <button class="btn-table btn-delete" data-bs-toggle="modal"
                                        data-bs-target="#modalDelete" type="button"
                                        th:onclick="|openDeleteModal('${bird.id}')|">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"
                                         width="20px" height="20px">
                                        <path
                                                d="M 14.984375 2.4863281 A 1.0001 1.0001 0 0 0 14 3.5 L 14 4 L 8.5 4 A 1.0001 1.0001 0 0 0 7.4863281 5 L 6 5 A 1.0001 1.0001 0 1 0 6 7 L 24 7 A 1.0001 1.0001 0 1 0 24 5 L 22.513672 5 A 1.0001 1.0001 0 0 0 21.5 4 L 16 4 L 16 3.5 A 1.0001 1.0001 0 0 0 14.984375 2.4863281 z M 6 9 L 7.7929688 24.234375 C 7.9109687 25.241375 8.7633438 26 9.7773438 26 L 20.222656 26 C 21.236656 26 22.088031 25.241375 22.207031 24.234375 L 24 9 L 6 9 z"/>
                                    </svg>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- modal add -->
<form method="post">
    <input type="text" name="type" style="display: none" value="ADD"></input>
    <div class="modal fade" id="modalAdd" tabindex="-1"
         aria-labelledby="exampleModalLabel" aria-hidden="true">

        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thêm mới</h5>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Tên
                            sản phẩm:</label> <input name="product" type="text" class="form-control"
                                                     id="recipient-name" required/>
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Giá
                            gốc:</label> <input name="priceO" type="text" class="form-control"
                                                id="recipient-name" required/>
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Giá
                            sale:</label> <input name="priceS" type="text" class="form-control"
                                                 id="recipient-name" required/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Hủy
                    </button>
                    <button type="submit" class="btn btn-primary">Thêm mới</button>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- modal edit -->
<form method="post">
    <input type="text" name="type" style="display: none" value="PUT"></input>
    <div class="modal fade" id="modalEdit" tabindex="-1"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="mb-3">
                        <label for="editName" class="col-form-label">ID:</label> <input
                            type="text" class="form-control" id="editID" name="id" readonly/>
                    </div>
                    <div class="mb-3">
                        <label for="editName" class="col-form-label">Tên sản
                            phẩm:</label> <input type="text" class="form-control" id="editName"
                                                 name="product" required/>
                    </div>
                    <div class="mb-3">
                        <label for="editPriceRoot" class="col-form-label">Giá
                            gốc:</label> <input type="text" class="form-control" id="editPriceRoot"
                                                name="priceO" required/>
                    </div>
                    <div class="mb-3">
                        <label for="editPriceSale" class="col-form-label">Giá
                            sale:</label> <input type="text" class="form-control" id="editPriceSale"
                                                 name="priceS" required/>
                    </div>
                    <div class="mb-3">
                        <label for="url" class="form-label">URL Ảnh</label> <input
                            class="form-control" type="text" id="url" name="url" required/>
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Loại
                            sản phẩm:</label> <select class="form-select"
                                                      aria-label="Default select example" id="editCategory"
                                                      name="categoryID">
                        <option value="">Select Category</option>
                        <%
                        for (Category category : categoryList) {
                        %>
                        <option value="<%=category.getCategoryID()%>"><%=category.getNameCategory()%></option>
                        <%
                        }
                        %>
                    </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Hủy
                    </button>
                    <button type="submit" class="btn btn-primary">Lưu thay
                        đổi
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- modal delete -->
<form method="post">
    <div class="modal fade" id="modalDelete" aria-hidden="true"
         aria-labelledby="exampleModalToggleLabel">
        >
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel">Thông
                        báo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">Bạn có chắc chắn muốn xóa bản ghi
                    này?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Từ chối
                    </button>
                    <input type="text" name="type" style="display: none"
                           value="DELETE"></input> <input id="dID" type="text" name="pID"
                                                          style="display: none"></input>
                    <button class="btn btn-primary"
                            data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
                            data-bs-dismiss="modal">Đồng ý
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    function openDeleteModal(id) {
        document.getElementById("dID").value = id;
    }

    function openEditModal(id, productName, rootPrice, salePrice, url,
                           catogoryId) {
        document.getElementById("editID").value = id;
        document.getElementById("editName").value = productName;
        document.getElementById("editPriceRoot").value = rootPrice;
        document.getElementById("editPriceSale").value = salePrice;
        document.getElementById("url").value = url;
        document.getElementById("editCategory").value = catogoryId;
    }
</script>
<script src="../js/bootstrap/js/bootstrap.min.js"></script>
<script src="../js/bootstrap/js/popper.min.js"></script>
</body>
</html>
